<header>
  <%= render "devise/shared/menu" %>
</header>

<main>
    
    <!-- como usar -->
    <div id="cadastrar" class="container">
        <div class="section">
            <!-- title -->
            <div class="row center">
                <h3><i class="medium material-icons red-text">settings</i></h3>
                <h4>Começe a utilizar agora mesmo...</h4>
                <p>Inteiramente gratuito.</p>
            </div>
            <!-- /title -->

            <!-- card cadastre-se -->
                <div class="row center">
                    <div class="col s12 l4 offset-l4">
                        <div class="card white z-depth-3">
                            <div class="card-content">
                                <span class="card-title">Cadastre-se</span>

                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "col s12" }) do |f| %>
                                    <%= devise_error_messages! %>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <%= f.email_field :email, autofocus: true, class: "validate" %>
                                            <%= f.label :email %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <%= f.password_field :password, autocomplete: "off", class: "validate" %>
                                            <%= f.label :password %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate" %>
                                            <%= f.label :password_confirmation %><br />
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <%= f.submit "Cadastrar", class: "btn waves-effect waves-light" %>
                                    </div>
                                <% end %>

                                <%= render "devise/shared/links" %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /card cadastre-se -->
        </div>
    </div>
    <!-- /como usar -->
</main>

<%= render 'devise/shared/footer' %>
