
<!-- menu -->
<nav class="white">
    <div class="nav-wrapper container">
        <%= link_to "Pomopro", root_path, class: "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="small material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><%= link_to "Entrar", root_path %></li>
            <li><%= link_to "Sobre", root_path + "#sobre" %></li>
            <li><%= link_to "Cadastre-se", new_registration_path(resource_name) %></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><%= link_to "Entrar", root_path %></li>
            <li><%= link_to "Sobre", root_path + "#sobre" %></li>
            <li><%= link_to "Cadastre-se", new_registration_path(resource_name) %></li>
        </ul>
    </div>
</nav>
<!-- /menu -->

