<h1>Timer</h1>


<%= render "show_timer_lists" %>


<%= button_to "Pomodoro", user_timers_path(:user_id => current_user.id, :status => "pomo"), method: :create %>
<%= button_to "Break", user_timers_path(:user_id => current_user.id, :status => "break"), method: :create %>
<%= button_to "Long Break", user_timers_path(:user_id => current_user.id, :status => "long_break"), method: :create %>

<%= link_to "Sair", destroy_user_session_path, method: :delete %>