<h1>Timer</h1>

<% if @timers %>

  <h2>Pomodoro's</h2>
  <ul class="list-pomos">
    <% @pomos.each do |p| %>
      <li><%= p.status %></li>
    <% end %>
  </ul>
  
  <h2>Break's</h2>
  <ul class="list-breaks">
    <% @breaks.each do |b| %>
      <li><%= b.status %></li>
    <% end %>
  </ul>

  <h2>Long Break's</h2>
  <ul class="list-long-breaks">
    <% @long_breaks.each do |lb| %>
      <li><%= lb.status %></li>
    <% end %>
  </ul>
<% end %>

<%= button_to "Pomodoro", user_timers_path(:user_id => current_user.id, :status => "pomo"), method: :create %>
<%= button_to "Break", user_timers_path(:user_id => current_user.id, :status => "break"), method: :create %>
<%= button_to "Long Break", user_timers_path(:user_id => current_user.id, :status => "long_break"), method: :create %>

<%= link_to "Sair", destroy_user_session_path, method: :delete %>