
<header>

    <%= render "devise/shared/menu" %>

    <!-- banner -->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">

                <!-- titles -->
                <br><br>
                <h1 class="header center white-text">Pomopro</h1>
                <div class="row center">
                    <h5 class="header col s12 white-text light">Utilize a técnica Pomodoro, e faça mais em menos tempo...</h5>
                </div>
                <!-- /titles -->

                <!-- card login -->
                <div class="row center">
                    <div class="col s12 l4 offset-l4">
                        <div class="card white z-depth-3">
                            <div class="card-content">
                                <span class="card-title">Login</span>

                                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "col s12"}) do |f| %>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <%= f.email_field :email, autofocus: true, class: "validate" %>
                                            <%= f.label :email %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <%= f.password_field :password, autocomplete: "off", class: "validate" %>
                                            <%= f.label :password %><br />
                                        </div> </div> <div class="card-action"> <%= f.submit "Entrar", class: "btn waves-effect waves-light" %>
                                    </div>
                                <% end %>

                                <%= render "devise/shared/links" %>
                               <!--  <div>Não é cadastrado? <a href="#">Cadastre-se</a></div>
                                <div>Esqueceu sua senha? <a href="#">Nova senha</a></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /card login -->

                <br><br>
            </div>
        </div>
        <div class="parallax">
            <img src="//i.imgur.com/GFyxPvz.jpg" alt="Unsplashed background img 1">
        </div>
    </div>
    <!-- /banner -->

</header>
<main>
    <div class="container">
        <div class="section">
          <!-- icon section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="medium material-icons">trending_up</i></h2>
                        <h5 class="center">Aumento de Produtividade</h5>

                        <p class="light">
                            Além de aumentar a velocidade com que os usuários executam suas tarefas, o Método Pomodoro é centrado também na melhoria da qualidade daquilo que é realizado.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="medium material-icons">track_changes</i></h2>
                        <h5 class="center">Mais Foco</h5>

                        <p class="light">
                            Quando for calcular o número de “pomodoros” que irá reservar para fazer algo, não se esqueça de um tempo antes para recapitular o que precisa ser feito e, no final, para revisar se está tudo completo.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="medium material-icons">perm_identity</i></h2>
                        <h5 class="center">Mais tempo pra você</h5>

                        <p class="light">
                            Entre outros benefícios da técnica estão a diminuição do estresse, o aumento da capacidade de concentração e, inclusive, a construção de uma vida mais balanceada entre trabalho, aprendizado e lazer.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /icon section -->
        </div>
    </div>

    <!-- parallax 2 -->
    <div class="parallax-container valign-wrapper parallax-small">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light white-text">Otimize o seu tempo agora mesmo, e trabalhe ou estude com mais foco e atenção.</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="//i.imgur.com/FH0jhSj.jpg" alt="Unsplashed background img 2">
        </div>
    </div>
    <!-- /parallax 2 -->

    <!-- sobre -->
    <div id="sobre" class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="medium mdi-content-send teal-text lighten-2"></i></h3>
                    <h4>Sobre a Técnica Pomodoro</h4>
                    <p class="left-align light">
                       Este método foi criada em 1992 por Francesco Cirillo. Durante o tempo de faculdade, este italiano tinha muito dificuldade em concentrar-se. Depois de olhar para o timer da cozinha em formato de tomate (Pomodoro em italiano), Cirillo decidiu testar em si mesmo se conseguiria estudar sem parar durante 10 minutos. Para isso, agarrou no seu timer e marcou então dez minutos, nos quais deveria estudar sem ter nenhuma interrupção pelo meio. Depois de vários estudos e de tentar melhorar o seu método, Cirillo conseguiu chegar a uma técnica que o permitiu ser um estudante muito mais produtivo. A técnica de Pomodoro consiste no seguinte:
                    </p>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 m2 offset-m1">
                    <span class="large-numbers">1</span>
                    <p><strong>Decida</strong> qual tarefa vai realizar</p>
                </div>
                <div class="col s12 m2">
                    <span class="large-numbers">2</span>
                    <p>Cronômetre <strong>25 minutos</strong>.</p>
                </div>
                <div class="col s12 m2">
                    <span class="large-numbers">3</span>
                    <p><strong>Trabalhe</strong> na tarefa até o alarme soar.</p>
                </div>
                <div class="col s12 m2">
                    <span class="large-numbers">4</span>
                    <p>Faça um pequeno <strong>intervalo</strong> de 5 minutos.</p>
                </div>
                <div class="col s12 m2">
                    <span class="large-numbers">5</span>
                    <p>Faça um <strong>intervalo</strong> longo de 15-30 minutos.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m8 offset-m1 border-custom center">
                    <p>Repita 4 vezes</p>
                </div>
            </div>
            <div class="row">
                <ol class="collection">
                    <li class="collection-item">
                        Liste tudo o que você precisa fazer;
                    </li>
                    <li class="collection-item">
                        Escolha uma prioridade, algo que você não deve deixar para depois;
                    </li>
                    <li class="collection-item">
                        Aperte o play no pomodoro em seu Pomopro;
                    </li>
                    <li class="collection-item">
                        Concentre-se no estabelecido até o alarme do fim do Pomopro tocar;
                    </li>
                    <li class="collection-item">
                        Como pomodoro é uma unidade inteira (não existe meio pomodoro), mantenha uma lista para “Atividades inesperadas” ao lado da mesa em que está trabalhando. Se pensar em fazer algo não relacionado a sua tarefa atual, anote nessa folha para lembrar de fazer depois.&nbsp;Isso serve para comer, tomar água, fechar a cortina, atender ao telefone, olhar facebook ou email.
                    </li>
                    <li class="collection-item">
                        Quando o alarme tocar, faça uma pausa de 5 minutos, relaxando a mente. Só então&nbsp;comece um novo pomodoro.
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /sobre -->

    <!-- parallax 3 -->
    <div class="parallax-container valign-wrapper parallax-small">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light white-text">Tudo pronto para você usar essa técnica da melhor forma possivel, e o melhor é free.</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="//i.imgur.com/9GCRRI3.jpg" alt="Unsplashed background img 2">
        </div>
    </div>
    <!-- /parallax 3 -->

    <!-- como usar -->
    <div id="cadastrar" class="container">
        <div class="section">
            <!-- title -->
            <div class="row center">
                <h3><i class="medium material-icons red-text">settings</i></h3>
                <h4>E agora, como usar?</h4>
                <p>Cadastre-se e começe a usar agora mesmo, é inteiramente gratuito.</p>
            </div>
            <!-- /title -->

            <!-- button cadastre -->
            <div class="row center">
                <%= link_to "Cadastre-se", new_registration_path(resource_name), class: "waves-effect waves-light btn-large btn-cadastrar" %>
            </div>
            <!-- button cadastre -->
        </div>
    </div>
    <!-- /como usar -->
</main>

<%= render 'devise/shared/footer' %>

<!-- parallax -->
<script>
    $(document).ready(function(){
        $('.parallax').parallax();
    });
</script>
<!-- /parallax -->



















