<!DOCTYPE html>
<html>
    <head>
      <title>Pomopro</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    'application', '//fonts.googleapis.com/icon?family=Material+Icons' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="shortcut icon" type="image/x-icon" href="<%= image_path('favicon.ico') %>">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
    </head>
    <body>

      <% flash.each do |name, msg| %>
          <script>
            var $toastContent = $('<%= content_tag(:div, msg, class: "info #{name}" ) %>');
            Materialize.toast($toastContent, 5000);
          </script>
      <% end %>

      <%= yield %>

      <%= yield :js %>
    </body>
</html>
